<!DOCTYPE html>
<html lang="en" ng-app="RegisterApp">
<head>
    <meta charset="UTF-8">
    <title>FSF17 Assessment 17 Feb 2017</title>

    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="theme4.css">


    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
 
    <script src="/libs/angular/angular.js"></script>

    <script src="index.js"></script>

<script>
$(document).ready(function() {
    $('#datePicker')
        .datepicker({
            format: 'dd/mm/yyyy'
        })
});
</script>



</head>
<body ng-controller="RegisterCtrl as registerCtrl">


    <div class="container">

     <h5>FSF17 Assessment 17 Feb 2017t</h5>    
        <h1>Registration</h1>

        <form name="registerForm" novalidate ng-submit="registerCtrl.login()">
            <table>
                <tr>
                    <td>Name:</td>
                    <td>
                        <input type="text" name="name" id="name" required  size="50"
                            ng-model="registerCtrl.name"
                            placeholder="Please enter your name">
                    </td>
                </tr>

                <tr>
                    <td>Address:</td>
                    <td>
                        <input type="text" name="address" id="address" required  size="50"
                            ng-model="registerCtrl.address"
                            placeholder="Please enter your address">
                    </td>
                </tr>


                    <td>Contact number:</td>
                    <td>
                        <input type="text" name="contactno" id="contactno" required  size="50"
                            ng-model="registerCtrl.contactno"
                            placeholder="Please enter your contact number">
                    </td>
                </tr>


                <tr>
                    <td>Date of birth:</td>
                    <td>
                        <!--<input type="date" name="birthday"  required  size="50"
                            id="datepicker"
                            ng-model="registerCtrl.birthday" >-->
                        <div class="input-group  input-group-sm input-append date" id="datePicker">
                            <input type="text" class="form-control" name="date" ng-model="registerCtrl.birthday"  value="24/10/1966">
                           
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>Gender</td>    
                    <td>
                        <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male" 
                         ng-model="registerCtrl.gender"> Male
                        </label>
                        <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female"
                         ng-model="registerCtrl.gender"> Female
                        </label>
                        
                    </td>
                </tr>
    
                <tr>
                    <td>Country</td>
                    <td>
                        <div class="input-group">
                        <span class="input-group-addon custom__addon blue__addon">
                        <span class="glyphicon glyphicon-cog"></span>  Select
                        </span>
                        <select class="form-control custom__select" ng-model="registerCtrl.country" >
                        <option ng-repeat="country in  registerCtrl.select" value="{{country}}"  >
                            {{country}}</option>
                        </select> 


                    </td>
                </tr>
   

                <tr>
                    <td>Email:</td>
                    <td>
                        <input type="email" name="emailadd" id="emailadd" required  size="50"
                            ng-model="registerCtrl.emailadd"
                            placeholder="Please enter your email">
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input type="password" name="password" id="password" required  size="50"
                            ng-model="registerCtrl.password"
                            placeholder="Please enter your password">
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <button type="submit" ng-disabled="registerForm.$invalid" id="loginBtn">
                            Login
                        </button>
                    </td>
                </tr>
            </table>



        </form>

        
            <h4>{{ registerCtrl.status }}</h4>


    </div>
</body>
</html>